{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.admin.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.admin.titlecontent'|trans }} {% endblock %}
{% block admin_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppiwik/piwik.css') }}"/>
{% endblock %}

{% block admin_content %}

<!--<div class="row" id="description">
<p class="left">{#{{ 'plugin.admin.content'| trans }}#}</p>
</div>-->

{% if error %}
<div class="row">
		<div class="alert alert-warning">
			<p>{{ error }}</p>
		</div>
</div>
{% endif %}

	<div class="wrapper">

		<div name="tabs" id="tabs" class="col-md-2">
				<ul class="nav nav-tabs">
					{% for item in publications %}
				 	<li><a href="{{ path('setting_id', {'id': item.id}) }}"> {{ item.name }} </a></li>
					{% endfor %}
				</ul>
		</div>
	
	<div class="tab-content">
		<div id="forms" class="form col-md-2">
			
			{{ form_start(form, { 'attr': { 'class': 'form-horizontal' }}) }}
			
		<div class="row">
			{{ form_label(form.piwik_url, "Piwik URL") }}
			{{ form_widget(form.piwik_url, { 'attr': { 'placeholder': 'URL' }}) }}
		</div>

		<div class="row">
			{{ form_label(form.piwik_id, "Site Id") }}
			{{ form_widget(form.piwik_id, { 'attr': { 'placeholder': 'Site Id' }}) }}
		</div>

		<div class="row">
			{{ form_label(form.type) }}
			{{ form_widget(form.type, { 'attr': { 'placeholder': 'Code Type'}}) }}
		
		<div class="row">
			{{ form_label(form.ip_anonymize) }}
			{{ form_widget(form.ip_anonymize) }}
		</div>
		
		<div class="row">
			{{ form_label(form.piwik_post) }}
			{{ form_widget(form.piwik_post) }}
		</div>

		<div class="row">
			{{ form_label(form.send) }}
			{{ form_widget(form.send, { 'attr': {'class': 'btn btn-default btn-sm'}}) }}
		</div>

			{{ form_end(form) }}
		</div>
</div>
{% endblock %}
