{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.admin.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.admin.titlecontent'|trans }} {% endblock %}
{% block admin_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppiwik/piwik.css') }}"/>
{% endblock %}

{% block admin_content %}

	<div id="description">
			<p>{{ 'plugin.admin.content'|trans }}</p>
	</div>

	{% if error %}
			<div class="alert alert-warning">
				<p>{{ error }}</p>
			</div>
	{% endif %}

	{% if sent %}
			<div class="alert alert-success">
				<p>{{ sent }}</p>
			</div>
	{% endif %}

	<div name="tabs" id="tabs" class="col-md-2">
				<ul class="nav nav-tabs">
					{% for item in publications %}
				 	<li class="{% if item.id == id %} active {% endif %}"><a href="{{ path('setting_id', {'id': item.id}) }}"> {{ item.name }} (ID {{ item.id }}) </a></li>
					{% endfor %}
				</ul>
	</div>
	
	<div class="tab-content">

		<div id="forms" class="form col-md-2">

			<div class="row"><label id="pubid">Publication ID: </label>{{ id }} </div>
			
			{{ form_start(form, { 'attr': { 'class': 'form-horizontal' }}) }}

		<div class="row">
			{{ form_label(form.piwikUrl, "Piwik URL (no protocol)") }}
			{{ form_widget(form.piwikUrl, { 'attr': { 'placeholder': 'Please enter valid Piwik URL' }}) }}
		</div>

		<div class="row">
			{{ form_label(form.piwikId, "Piwik Site ID") }}
			{{ form_widget(form.piwikId, { 'attr': { 'placeholder': 'Please enter valid Site ID' , 'min' : '1'}}) }}
		</div>

		<div class="row">
			{{ form_label(form.type) }}
			{{ form_widget(form.type, { 'attr': { 'placeholder': 'Code Type'}}) }}
		</div>
		
		<div class="row">
			{{ form_label(form.ipAnonymise) }}
			{{ form_widget(form.ipAnonymise) }}
		</div>
		
		<div class="row">
			{{ form_label(form.piwikPost) }}
			{{ form_widget(form.piwikPost) }}
		</div>

		<div class="row">
			{{ form_label(form.send) }}
			{{ form_widget(form.send, { 'attr': {'class': 'btn btn-default btn-sm'}}) }}
		</div>

			{{ form_end(form) }}

	</div>
{% endblock %}
