{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.admin.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.admin.titlecontent'|trans }} {% endblock %}
{% block admin_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppiwik/piwik.css') }}"/>
{% endblock %}

{% block admin_content %}

<ul class="nav nav-tabs">
	<li class="active"><a>Generate code</a></li>
	<!--<li><a href="#"> Reporting </a></li>-->
</ul>

<div class="row">
<p class="left">{{ 'plugin.admin.content'|trans }}</p>
</div>

{% if error %}
<div class="row">
<p>{{ error }}</p>
</div>
{% endif %}

 <div class="form negate-row-space">

{{ form_start(form, { 'attr': { 'class': 'form-horizontal' }}) }}
<div class="row">
{{ form_label(form.url) }}
{{ form_widget(form.url, { 'attr': { 'placeholder': 'URL' }}) }}
</div>

<div class="row">
{{ form_label(form.id) }}
{{ form_widget(form.id, { 'attr': { 'placeholder': 'ID' }}) }}
<p>{{ form_errors(form.id) }}</p>
</div>

<div class="row">
{{ form_label(form.send) }}
{{ form_widget(form.send, { 'attr': {'class': 'btn btn-default btn-sm'}}) }}
</div>

{{ form_end(form) }}

<div class="row">
<textarea class="snippet">{{ snippet }}</textarea>
</div>

<div class="row">
<textarea class="imgtrack">{{ imgtrack }}</textarea>
</div>

</div>
{% endblock %}
